[Unit]
Description=Memory Game (v2)

[Service]
Type=simple
User=memory2
Group=memory2
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4792"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/memory2/memory2/
ExecStart=/home/memory2/memory2/start.sh

[Install]
WantedBy=multi-user.target
