[Unit]
Description=Memory Game (v1)

[Service]
Type=simple
User=memory1
Group=memory1
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4791"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/memory1/memory1/
ExecStart=/home/memory1/memory1/start.sh

[Install]
WantedBy=multi-user.target
